@media screen and (min-width: 751px) {
  .details-container {
    font-size: 1.1em;
  }

  .details-container-top-name {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 750px) {
  .details-container {
    font-size: 1em;
  }

  .details-container-top-name {
    font-size: 1.2em;
  }
}

.details-container {
  display: flex;
  flex: 1;
  flex-direction: column;

  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  transition: all 0.3s ease-in-out;
}

/*CHANNEL DETAILS TOP*/
.details-container-top {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 15px 20px;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.details-container-top-name {
  flex-grow: 1;
  font-weight: 500;
}

/*CHANNEL DETAILS MIDDLE*/
.details-container-middle {
  background-color: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #333;
}

.details-container-middle-logo {
  fill: white;
  float: right;
  max-height: 100px;
  max-width: 100px;
  margin-left: 15px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.details-container-middle-description {
  line-height: 1.75;
}

.details-container-middle-table {
  width: 100%;
  border-spacing: 0;
}

.details-container-middle-table th,
.details-container-middle-table td {
  padding: 8px 0;
  text-align: start;
  border-bottom: 1px solid #E0E0E0;
  padding-right: 10px;
}

.details-container-middle-table td {
  line-height: 1.5;
}

.details-container-middle-table tr:nth-child(even) {
  background-color: #F8F8F8;
}

.details-container-middle-table tr:nth-child(odd) {
  background-color: #FFFFFF;
}