@media screen and (min-width: 751px) {
  .tv-container {
    margin-left: 65px;
    padding: 20px;
    gap: 10px;
  }

  .content-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

}

@media screen and (max-width: 750px) {
  .tv-container {
    margin-bottom: 55px;
    padding: 10px;
    gap: 10px;
  }

  .content-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(140px, 2fr));
  }
}

.tv-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
  transition: all 0.3s ease-in-out;
}

.content-wrapper {
  display: grid;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.channel-thumbnail {
  user-select: none;
  width: 100%;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.channel-thumbnail.active {
  display: none;
}