:root {
  --main-background-color: #fafafa;
  --paragraph-text-color: #333;
  --main-border-color: #ccc;
}

@font-face {
  font-family: 'Gordita-Medium';
  font-display: swap;
  src: url('/Gordita-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/Inter.woff2') format('woff2');
}

html,
body {
  font-family: "Inter", "Roboto", sans-serif;
  font-size: small;
  margin: 0;
  padding: 0;
  background: var(--main-background-color);
  scroll-behavior: smooth;
}