:root {
  --main-background-color: #fafafa;
  --paragraph-text-color: #333;
  --main-border-color: #ccc;
}

@font-face {
  font-family: 'Gabarito'; 
  src: url('/Gabarito.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/Outfit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Outfit", sans-serif;
  font-size: small;
  margin: 0;
  padding: 0;
  background: var(--main-background-color);
  scroll-behavior: smooth;
}