.seekbar-container {
  position: relative;
  padding: 0 12px;
  height: 20px;
  display: flex;
  pointer-events: auto;
}

.seekbar-track-wrapper {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  pointer-events: none;
}

/* --- CHILDREN OF TRACK WRAPPER --- */
.seekbar-track,
.buffer-progress,
.play-progress-fill {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}

/* 1. Base track style (bottom layer) */
.seekbar-track {
  border-radius: 4px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 1;
}

/* 2. Buffer progress */
.buffer-progress {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 2;
  transition: width 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 3. Play progress */
.play-progress-fill {
  border-radius: 4px;
  background-color: #fafafa;
  z-index: 3;
}

/*4. Hover line*/
.hover-line {
  position: absolute;
  width: 2px;
  height: 100%;
  z-index: 4;
}

/* 5. Thumb */
.progress-thumb {
  position: absolute;
  top: 50%;
  z-index: 5;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fafafa;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.seekbar-container:hover .progress-thumb {
  transform: translate(-50%, -50%) scale(1);
}

.play-progress-input:active~.seekbar-track-wrapper .progress-thumb {
  transform: translate(-50%, -50%) scale(1.2);
}


/* --- Actual <input> element - invisible but on top for interaction --- */
.play-progress-input {
  position: absolute;
  left: 12px;
  right: 12px;
  width: calc(100% - 24px);
  top: 0;
  height: 100%;
  margin: 0;
  z-index: 10;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
}

/* Hide the default browser thumb*/
.play-progress-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
}

/* Hover Tooltip */
.hover-tooltip {
  position: absolute;
  bottom: 25px;
  background-color: rgba(20, 20, 20, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  pointer-events: none;
  z-index: 6;
  white-space: nowrap;
  user-select: none;
}

/* Buffering Animation - applied to the base track */
.seekbar-container.buffering .seekbar-track {
  background-image: repeating-linear-gradient(60deg,
      rgba(240, 240, 240, 0.4) 0,
      rgba(240, 240, 240, 0.4) 10px,
      rgba(150, 150, 150, 0.4) 10px,
      rgba(150, 150, 150, 0.4) 20px);
  background-size: 20px 20px;
  animation: zebraMove 0.6s linear infinite;
}

@keyframes zebraMove {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 20px 0;
  }
}
