.video-controls.settings-container {
  position: relative;
}

.settings-menu.icon {
  fill: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.settings-menu.icon.rotate {
  transform: rotate(60deg);
}

/*---- LABEL ON SETTINGS ICON ---------------------------------*/
.settings-icon-quality-label-4k,
.settings-icon-quality-label-hd,
.settings-icon-quality-label-sd {
  position: absolute;
  bottom: 16.5px;
  right: -3.5px;

  text-align: center;
  font-size: 8.5px;
  font-weight: bold;
  line-height: 1;

  background-color: rgba(240, 45, 84, 0.9);
  color: rgba(255, 255, 255, 0.9);
  padding: 1px 3px;
  border-radius: 2px;
  pointer-events: none;
  user-select: none;
}

.settings-icon-quality-label-qhd,
.settings-icon-quality-label-hd {
  background-color: rgba(27, 88, 46, 0.9);
}

.settings-icon-quality-label-sd {
  background-color: rgba(18, 17, 17, 0.9);
}

/*----- MENU CONTAINER ---------------------------------------*/
.settings-menu-container {
  position: absolute;
  bottom: calc(50px + 12px);
  right: 12px;
  
  overflow: hidden;
  border-radius: 8px;
  background-color: rgba(8, 9, 10, 0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: height 0.28s ease-in-out, width 0.28s ease-in-out;
}

.settings-menu-container.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* MENUS */
.settings-menu.mainmenu,
.settings-menu.submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;

  position: absolute;
  padding: 6px;

  opacity: 0;
  visibility: hidden;
  transition: transform 0.28s ease-in-out, opacity 0.28s ease-in-out;
}

.settings-menu.submenu {
  transform: translateX(var(--container-width));
}

.settings-menu.mainmenu.active,
.settings-menu.submenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* MENU LIST */
.settings-menu.submenu-list {
  position: relative;
  max-height: 50cqh;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}

/* Support for older Browsers */
.settings-menu.submenu-list::-webkit-scrollbar {
  width: 6px;
}

.settings-menu.submenu-list::-webkit-scrollbar-track {
  background: transparent;
}

.settings-menu.submenu-list::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.settings-menu.submenu-list::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

/* MENU ITEMS */
.settings-menu.mainmenu-item,
.settings-menu.submenu-item {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  color: #b1a99c;
  padding: 5px 7px;
  cursor: pointer;
  user-select: none;
  background: transparent;
  border: none;
  border-radius: 5px;
  min-width: max-content;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.settings-menu.submenu-item {
  padding: 10px 50px 10px 10px;
}

.settings-menu.mainmenu-item:hover,
.settings-menu.submenu-item:hover {
  background: #29643b;
  color: #e9e5de;
}

/* Item Spacer*/
.settings-menu.mainmenu-item-spacer {
  width: 15px;
  flex: 1;
}

/* Item Divider */
.settings-menu.submenu-item-divider {
  min-width: max-content;
  height: 1.5px;
  background: rgba(230, 230, 230, 0.2);
  border-radius: 2px;
  margin: 1.5px 5px;
}

/* Radio Button*/
.settings-menu.submenu-item-radio {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  background-color: #363a3b;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.settings-menu.submenu-item:hover .settings-menu.submenu-item-radio {
  background-color: #143b1f;
}

.settings-menu.submenu-item-radio.selected {
  box-shadow: #268440 0 0 0 4px inset;
  background-color: #191a1b;
}

/* Labels */
.settings-menu.submenu-item-tag,
.settings-menu.submenu-item-tag-4k,
.settings-menu.submenu-item-tag-hd,
.settings-menu.submenu-item-tag-sd {
  position: absolute;
  right: 5px;

  padding: 2.5px;
  color: #e9e5de;
  font-size: 8.5px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 0.3px;
  background-color: rgba(230, 230, 230, 0.15);
}

.settings-menu.submenu-item-tag-4k {
  background-color: rgba(220, 20, 60, 0.8);
}

.settings-menu.submenu-item-tag-hd {
  background-color: rgba(27, 88, 46, 0.9);
}

/*ADDITIONAL MOBILE CSS
@container video-player (max-width: 500px) {
  .settings-menu-container {
    position: fixed;
    bottom: 60px;
    left: 10px;
    right: 10px;
  }

  .settings-menu.mainmenu,
  .settings-menu.submenu {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }

  .settings-menu.menu-item,
  .settings-menu.submenu-item {
    font-size: 1.4rem;
    padding: 15px;
  }

  .settings-menu.submenu-list {
    max-height: 80cqh;
  }

  .settings-menu.submenu-item-radio {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .settings-menu.submenu-item-tag,
  .settings-menu.submenu-item-tag-4k,
  .settings-menu.submenu-item-tag-hd,
  .settings-menu.submenu-item-tag-sd {
    right: 10px;
    padding: 4px;
    font-size: 0.75rem;
    border-radius: 3px;
    letter-spacing: 0.3px;
  }

}